.DS_Store

.build/
.swiftpm/*
!.swiftpm/configuration/
!.swiftpm/configuration/Package.resolved

DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.xcresult
*.xcarchive/

*.dSYM/
*.dSYM.zip
*.ipa

*.log
*.tmp
*.swp
*.swo
